<div class="section">
  <h2 style="font-style: regular; color: #ffffff; text-align: center;position: relative;top: 100px;font-weight: regular;font-size: 40px;font-family:Bebas Neue ;">Contact Us</h2>
  <p style="color: #ffffff;text-align: center;position: relative;top: 100px;font-weight: regular;font-size: 28px;font-family:Jost ;">lorem Ipsum is simply text of the
    printing and typesetting industry.</p>
  <br><br>
</div><br><br><br>
<div class="container" style="width: 40%;">
  <form class="row g-3">
    <div class="col-12">
      <label for="inputAddress" class="form-label"></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Subject">
    </div><br><br>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label"></label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Name">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label"></label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Mobile Number/Email">
    </div><br><br>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label"></label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email Address">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label"></label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Location">
    </div>
    <div class=" col-md-12 text-center mt-4">
      <button class="btn btn-lg btn-outline-white my-0 " type="button"
        style="background:#2B2B2B 0% 0% no-repeat padding-box;color: #AAAAAA; border-radius: 25px 25px 25px 25px;">Submit</button>
    </div>
  </form>
</div>

<br><br><br>
​
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;height: 10rem;">
        <div class="card-body" style="background: #FFF4DD;">
          <h2 class="card-title" style="font-weight: regular;">ADDRESS</h2>
          <p class="card-text">ADDRESS Ahwalwadi Road, Near Wagholi Bazar, Wagholi, Tal- Haveli, Pune-412207</p>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;height: 10rem;">
        <div class="card-body" style="background: #FFF4DD;">
          <h2 class="card-title" style="font-weight: regular; font-size: 36px;font-family:Bebas Neue ;">CONTACT</h2>
          <p class="card-text"> (+91) 9822023456</p>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;height: 10rem;">
        <div class="card-body" style="background: #FFF4DD;">
          <h2 class="card-title" style="font-weight: regular; font-size: 36px;font-family: Bebas Neue;">EMAIL ADDRESS</h2>
          <p class="card-text"> Contact@pirajees.com</p>

        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
​
<div class="container">

</div>
​
​
​
<div class="page-footer font-small special-color-dark pt-1" id="footer"
  style="background: #EEAE66;    padding-bottom: 20px;">
  <h3 class="text-center mt-5" style="font-weight: regular;font-size: 36px;font-family: Bebas Neue;">NEWSLETTER</h3>
  <p class="text-center" style="font-family:Jost ;font-size: 16px;font-weight: regular;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        ​
      </div>
      <div class="col-sm-4">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only"></label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Email">
        </div>
      </div>
      <div class="col-sm-4">

      </div><br><br><br>
      <br>
      <button class="btn btn-lg btn-outline-white my-0" type="button" style="background: #2B2B2B 0% 0% no-repeat padding-box;color: #AAAAAA;
                  opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                  left: 43%; bottom: 20px;">Subscribe</button>
    </div>
  </div>


</div>