<div class="jumbotron">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="img-1">
                <img src="/assets/now.png" style="height: 100%;width: 100%; position: relative;top: -200px;">
            </div>
        </div>
        <div class="col-sm-6">
            <h2 style="position: relative;top: -120px;color: white;font-weight: regular;font-size: 36px;font-family:Jost ;">Cake Loreum Ipsum (500gms)</h2><br><br>
            <h2 style="position: relative;top: -110px;font-weight: regular;color: rgb(23, 23, 131);"> &#x20b9; 342.00</h2><br><br>
            <p style="position: relative;top: -150px;">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the
                industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn  btn-outline-white"
                            style="position: relative;top: -170px;padding-right: 50px;border: 1px solid black;">411001
                      <span class="fa fa-angle-right" style="position: relative;left: 40%;"></span>
                    </button>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <p style="color: #209F20;font-weight: bold;position: relative;top: -163px;left: -116px;">Delivery
                            Avilable</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                    opacity: 1;; border-radius: 25px 25px 25px 25px;
                   padding-right: 30px;padding-left: 30px;height: 40px; position: relative;top: -150px;">Add To
                            Cart</button>
                    </div>
                    <div class="col-sm-6 col-sm-6">
                        <button class="btn btn-sm btn-outline-white my-0" type="button"
                            style="background: white 0% 0% no-repeat padding-box;color: #020202;
                    opacity: 1;; border-radius: 25px 25px 25px 25px;
                   padding-left: 40px;padding-right: 40px;height: 40px;position: relative;top: -150px; left: -110px; border: 1px solid #EEAE66;">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h5 style="font-weight: regular; font-size: 18px;font-family: Jost;">Rating & Reviews</h5>
</div>

<hr style=" border-top: 1px dashed black">


<br><b></b><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-6 col-md-6 text-center mt-3">
                    <h4 style="color: burlywood;font-weight: regular; font-size: 42px;font-family: Jost;">3.8 <i class="fa fa-star-o" style="color: burlywood; "></i></h4>
                    <p style="font-weight: regular;font-size: 18px;font-family: Jost;">1,295 Ratings & <br> 166 Reviews</p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;">   <strong style="color: black;"> &nbsp;  761</strong></i><br>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"> <strong style="color: black;opacity: 100%;"> &nbsp;  421</strong></i><br>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"> <strong style="color: black;opacity: 100%;"> &nbsp;  401</strong></i><br>
                    <i class="fa fa-star" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"> <strong style="color: black;opacity: 100%;"> &nbsp;  276</strong></i><br>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"></i>
                    <i class="fa fa-star-o" style="color: burlywood;"> <strong style="color: black;opacity: 100%;"> &nbsp;  171</strong></i><br>
                    <br>
                    <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
            opacity: 1;; border-radius: 25px 25px 25px 25px;
    border: 1px solid #EEAE66;">Add Feedback</button>





                </div>


            </div>

        </div>

        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <img src="/assets/Group 14.png" class="float-left" style="width: 100%;"><br><br>
                    <i class="fa fa-user-circle    "> Rajesh Kumar Singh</i>
                </div><br>
                <div class="col-sm-6 col-md-6">
                    <img src="/assets/Group 14.png" class="float-right" alt="" style="width: 100%;"><br><br>
                    <i class="fa fa-star-o" style="float:right;"></i>
                    <i class="fa fa-star-o" style="float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>

                </div><br><br>
                <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-3 col-md-3  text-center mt-3">

                </div>
                <div class="col-sm-3 col-md-3">

                </div>

            </div>

        </div>
        <div class="col-sm-6 col=md-6">
            <div class="row">
                <div class="col-sm-6 col-md-6">


                </div>
                <div class="col-sm-6 col-md-6" >

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 col-md-3 text-center mt-3">

                </div>
                <div class="col-sm-3 col-md-3">


                </div>

            </div>

        </div>
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <img src="/assets/Group 14.png" style="width: 100%;"><br><br>
                    <i class="fa fa-user-circle    "> Rajesh Kumar Singh</i>
                </div>
                <div class="col-sm-6 col-md-6">
                    <img src="/assets/Group 14.png" alt="" style="width: 100%;"><br><br>
                    <i class="fa fa-star-o" style="float:right;"></i>
                    <i class="fa fa-star-o" style="float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>

                </div><br><br>
                <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-6">
            <div class="row">
                <div class="col-sm-3 ol-md-3 text-center mt-3">
                </div>
                <div class="col-sm-3 col-md-3">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <img src="/assets/Group 14.png" style="width: 100%;"><br><br>
                    <i class="fa fa-user-circle    "> Rajesh Kumar Singh</i>
                </div>
                <div class="col-sm-6 col-md-6">
                    <img src="/assets/Group 14.png" alt="" style="width: 100%;"><br><br>
                    <i class="fa fa-star-o" style="float:right;"></i>
                    <i class="fa fa-star-o" style="float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>
                    <i class="fa fa-star" style="color: burlywood;float:right;"></i>

                </div><br><br>
                <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="page-footer font-small special-color-dark pt-1" id="footer" style="    padding-bottom: 20px;">
        <h3 class="text-center  mr-4" style="font-weight: regular; margin-top: 74px;">Contact us </h3><br>
        <div class="container">
            <div class="row ">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3">
                    <form>
                        <input class="form-control form-control-sm  " type="Name" placeholder="Name"
                            aria-label="Search">
                    </form>
                </div>
                <div class="col-sm-3">
                    <form>
                        <input class="form-control form-control-sm  " type="Name" placeholder="Mobile"
                            aria-label="Search">
                    </form><br>
                </div>
            </div>
            <div class=" col-md-12 text-center mb-3">
                <button class="btn btn- btn-outline-white my-0 " type="button"
                    style="background-color: #202020;color: white; border-radius: 25px 25px 25px 25px;">Submit</button>
            </div>
        </div>
    </div>
</section>