<div class="section"  style=" height: 110vh;
width: 100%;
background: url(/assets/background2.png);
background-size: cover;
background-position: center;">
    <h1 style="color: white;text-align: center;position: relative;top: 50px;font-weight: regular;font-size: 60px;font-family: Bebas Neue;">WE STAND FOR <strong
            style="color:#EEAE66 ;font-weight: regular;font-family: Bebas Neue;font-size:60px ;">Quality</strong></h1>
</div><br><br>
<img src="/assets/logo.jpg"   class="mx-auto d-block"alt="">
<br>

<h3 style="color: #000000; text-align: center; font-weight: regular;font-size: 42px;font-family: Bebas Neue;">OUR <strong
        style="color: palevioletred;font-size: regular;font-weight: 100;font-weight: regular; font-size: 42px;font-family: Bebas Neue;">STORY</strong></h3>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <h2 style="float: left;font-weight:regular;font-size: 42px;font-family: Bebas Neue;">Story <strong style="color: peru;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> Pointer Ipsum</strong></h2><br>
       <br><br>     <p style="font-weight: regular;font-size: 16px;font-family: Jost;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</p>
      
        </div>
        
    </div>
</div><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="float: right;font-weight: regular;font-size: 42px;font-family: Bebas Neue;">Story <strong style="color: peru;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> Pointer Ipsum</strong></h2>
       
            <br>
            <br><br>     <p style="font-weight: regular;font-size: 16px;font-family: Jost;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</p>
           
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <h2 style="float: left;font-weight: regular;font-size: 42px;font-family: Bebas Neue;">Story <strong style="color: peru;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> Pointer Ipsum</strong></h2>
       
            <br>
            <br><br>     <p style="font-weight: regular;font-size: 16px;font-family: Jost;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</p>
           
        </div>
    </div>
</div><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="float: right;font-weight: regular;font-size: 42px;font-family: Bebas Neue;">Story <strong style="color: peru;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> Pointer Ipsum</strong></h2>
            <br>
            <br><br>     <p style="font-weight: regular;font-size: 16px;font-family: Jost;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</p>
           
       
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <h2 style="float: left;font-weight: regular;font-size: 42px;font-family: Bebas Neue;">Story <strong style="color: peru;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> Pointer Ipsum</strong></h2>
            <br>
            <br><br>     <p style="font-weight: regular;font-size: 16px;font-family: Jost;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</p>
           
        </div>
    </div>
</div><br><br><br>

<div class="section" style="background-color: #FFF4DD;background-size: cover;height: 80vh;">
    <h2 style="text-align: center;color: #000;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> OUR <strong style="color: crimson;font-weight: regular;font-size: 42px;font-family: Bebas Neue;"> MANUFACTURING</strong></h2>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image"> <img src="assets/Group 119.png"/> </div>
            </div>
            <div class="col-md-4">
                <div class="image"> <img src="assets/Group 221.png" /> </div>
            </div>
            <div class="col-md-4">
                <div class="image"> <img src="assets/Group 118.png" /> </div>
            </div>
        </div>
    </div> 
    <br><br>

</div>


<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="coloumn">
                <h2 style="color:peru ;font-weight: regular;font-size: 36px;font-family: Bebas Neue;">VISSION</h2><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry’s standard dummy text.</p>
            </div>
            <div class="coloumn">
                <h2 style="color:peru ;font-weight: regular;font-size: 36px;font-family: Bebas Neue;">MISSION</h2><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of</p>
            </div>
        </div>
        <div class="col-sm-6">
            <p style="font-size: 19px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the
                industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div><br><br><br>
<!-- Each carousel needs a unique ID -->
<div class="">
    <!-- Each carousel needs a unique ID -->
    <div id="carousel-id" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="pt-4" style=" background-color: #EEAE66;width: 100%;">
                    <div class="" style="width: 100%;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="p-3" style="text-align: center; text-transform: uppercase;font-weight: regular
                                ;font-size: 36px;font-family: Bebas Neue;">Why Pirajee’s
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="/assets/jd.png" style="width: 100%;">
                                <div class="container"
                                    style="background: #2F2F2F; width: 32%;height: 25%;position: relative;bottom: 16%;">
                                    <h2 class="h21">2</h2>
                                    <p class="styles">Qualities</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img src="/assets/dj.png" style="width: 100%;">
                                <div class="container"
                                    style="background: #2F2F2F; width: 32%;height: 25%;position: relative;bottom: 16%;">
                                    <h2 class="h21">3</h2>
                                    <p class="styles">Happy Customers</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img src="/assets/zip.png" style="width: 100%;">
                                <div class="container"
                                    style="background: #2F2F2F; width: 32%;height: 25%;position: relative;bottom: 16%;">
                                    <h2 class="h21">4</h2>
                                    <p class="styles">Always Fresh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <p class="text-xs-center">
                <a class="" href="#carousel-id" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span> Previous
                </a>&emsp;
                <a class="l" href="#carousel-id" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span> Next
                </a>
            </p>
            <!-- /.text-center -->
        </div>
        <!-- /.carousel -->
    </div>
    <!-- /.carousel -->
</div>

<div class="page-footer font-small special-color-dark pt-1" id="footer"
    style="background: #ffffff; padding-bottom: 20px;">
    <h3 class="text-center mt-5 mr-5" style="font-weight: regular;font-size: 36px;font-family: Bebas Neue;">NEWSLETTER</h3>
    <p class="text-center mt-5 mr-5" style="font-family:Roboto Condensed ;font-size: 16px;font-weight: regular;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only"></label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-4">

            </div><br><br><br>
            <br>
            <button class="btn btn-lg btn-outline-white my-0" type="button" style="background: #2B2B2B 0% 0% no-repeat padding-box;color: #AAAAAA;
          opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
          left: 43%; bottom: 20px;">Subscribe</button>
        </div>
    </div>

</div>