<div>
  <section style=" font-family:Bebas Neue ; font-weight: regular;">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/header.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/header.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/header.png" alt="Third slide">
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="" class="active"
            style="background-color: #EEAE66;"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="" style="background-color: #EEAE66;"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="" style="background-color: #EEAE66;"></li>
        </ol>
      </div>


      <div class="text-block ">

        <p style="font-size: 60px;font-family:Bebas Neue ;"><span
            style="font-weight: regular;font-family: Bebas Neue;font-size: 60px;color: #EAAD68;">We Serve </span> Fresh
          Every Day</p>
        <button class="btn btn-sm btn-outline-white my-0" type="button" style=" width: 150px;
      height: 45px;background: #E22D5E 0% 0% no-repeat padding-box;color:white;font-size: 16px;
       border-radius: 25px 25px 25px 25px; font-family:Jost ;
    ">Discover More</button>
      </div>
    </div>




  </section>


  <br><br>
  <section style="width: 100%;">
    <div>
      <p style="font-weight: regular;font-size: 42px;font-family: Bebas Neue;color:#2F2F2F; text-align: center;">What's
        Your <span style="color: #E22D5E;">Occasion</span></p>
    </div>

    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="padding: 2.5px;">
          <div>
            <img src="assets/nish.png" style="width: 100%;">
            <div style="background-color: #F4ECDB;">
              <p style="font-weight: regular;font-size: 24px;font-family: Jost;padding-left: 5%;">Birthday</p>
            </div>
          </div>
        </div>
        <div class="col" style="padding: 2.5px;">
          <div>
            <img src="assets/pic1.png" style="width: 100%;">
            <div style="background-color: #F4ECDB;">
              <p style="font-weight: regular;font-size: 24px;font-family: Jost; padding-left: 5%;">Aniversary</p>
            </div>
          </div>
        </div>
        <div class="col" style="padding: 2.5px;">
          <div>
            <img src="assets/pic.png" style="width: 100%;">
            <div style="background-color: #F4ECDB;">
              <p style="font-weight: regular;font-size: 24px;font-family: Jost; padding-left: 5%;">Wedding</p>
            </div>
          </div>
        </div>
        <div class="col" style="padding: 2.5px;">
          <div>
            <img src="assets/mis.png" style="width: 100%;">
            <div style="background-color: #F4ECDB;">
              <p style="font-weight: regular;font-size: 24px;font-family: Jost; padding-left: 5%;">Valentine Day</p>
            </div>
          </div>
        </div>
        <div class="col" style="padding: 2.5px;">
          <div>
            <img src="assets/ava.png" style="width: 100%;">
            <div style="background-color: #F4ECDB;">
              <p style="font-weight: regular;font-size: 24px;font-family: Jost; padding-left: 5%;">Mother's Day</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><br><br>
  <h3 class="text-center" style="font-weight: regular;font-size: 42px;font-family:Bebas Neue ;color: #2F2F2F;">Pirajee's
    <span style="color: #E22D5E;font-weight: regular;">Featured Products</span>
  </h3><br><br>
  <section>

    <div class="row" style="background: url(/assets/background.png); width: 100%;">
      <div class="col-sm-2 col-md-2">
        <img src="/assets/Fruit.png" width="100%">
      </div>
      <div class="col-sm-4 col-md-4">
        <img src="/assets/Fruit2.png" width="100%">
      </div>
      <div class="col-sm-4">
        <h5 class="text-danger" style="font-weight: regular;font-size: 32px;font-family:Roboto Condensed ;">Black Forest
          Round Small</h5><br>
        <h5 class="text-dark" style="font-weight: regular;font-size: 32px;font-family:Roboto Condensed ;">Butterscotch
          Dome Small</h5><br>
        <h5 class="text-dark" style="font-weight: regular;font-size: 32px;font-family:Roboto Condensed ;">Choco Chips
          Dome Small</h5><br>
        <h5 class="text-dark" style="font-weight: regular;font-size: 32px;font-family:Roboto Condensed ;">Blueberry
          Large</h5><br>
        <h5 class="text-dark" style="font-weight: regular; font-size: 32px;font-family:Roboto Condensed ;">Kiwi Exotica
          Small</h5><br>
        <h5 class="text-dark" style="font-weight: regular;font-size: 32px;font-family:Roboto Condensed ;">Belgain Rich
          Chocolate</h5>
      </div>
      <div class="col-sm-2 col-md-2">
        <img src="/assets/Waffle.png" width="100%">
      </div>
    </div>





  </section><br><br><br>
  <h3 class="text-center" style="color: black; font-size: 42px;font-weight: regular;font-family:Bebas Neue ;">Recent
    <span style="color: #E22D5E;">Order's</span>
  </h3><br><br><br>
  <section>


    <div class="container">
      <div class="map-responsive">
        <iframe
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
          frameborder="0" style="border:0" allowfullscreen></iframe>


        <div class="container " style="width: 80%; margin-top:33%">
          <div class="row">
            <div class="col-sm-3 col-md-3">
              <div style="width: 203px;">
                <div
                  style="background: url(/assets/gp2.svg);width: 203px;height: 106px;padding: 9px; border-radius: 5px;">

                  <p style="color: white;font-size: 40px;margin-bottom: 0px;font-family: 'Bebas Neue';">432</p>

                  <hr style="border-top: 1px dashed rgb(255, 252, 252);margin-bottom: 0px;margin-top: 5px;">
                  <p style="color: white;font-weight:regular;font-family: Roboto Condensed; font-size: 20px;">
                    Orders Delivered
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div style="width: 203px; ">
                <div
                  style="background: url(/assets/gp1.svg);width: 203px;height: 106px;padding: 9px; border-radius: 5px;">

                  <p style="color: white;font-size: 40px;margin-bottom: 0px;font-family: 'Bebas Neue';">10000+</p>

                  <hr style="border-top: 1px dashed rgb(255, 252, 252);margin-bottom: 0px;margin-top: 5px;">
                  <p style="color: white;font-weight:regular;font-family: Roboto Condensed; font-size: 20px;">
                    Happy Customers
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div style="width: 203px;border-radius: 25px;">
                <div
                  style="background: url(/assets/box.png);width: 203px;height: 106px;padding: 9px; border-radius: 5px;">

                  <p style="color: white;font-size: 40px;margin-bottom: 0px;font-family: 'Bebas Neue';">20</p>

                  <hr style="border-top: 1px dashed rgb(255, 252, 252);margin-bottom: 0px;margin-top: 5px;">
                  <p style="color: white;font-weight:regular;font-family: Roboto Condensed; font-size: 20px;">
                    Location
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div style="width: 203px;">
                <div
                  style="background: url(/assets/gp3.svg);width: 203px;height: 106px;padding: 9px; border-radius: 5px;">

                  <p style="color: white;font-size: 40px;margin-bottom: 0px;font-family: 'Bebas Neue';">20</p>

                  <hr style="border-top: 1px dashed rgb(255, 252, 252);margin-bottom: 0px;margin-top: 5px;">
                  <p style="color: white;font-weight:regular;font-family: Roboto Condensed; font-size: 20px;">
                    Stores Located
                  </p>
                </div>
              </div>
            </div>




          </div>
        </div>

      </div>
    </div>
  </section><br><br><br>
  <h3 class="text-center" style="font-weight: regular; font-size: 42px;font-family: Bebas Neue; color: #2F2F2F;">What
    word says <span style="color: #E22D5E;font-weight: regular;">about pirajee's</span>
  </h3><br><br>
  <section>

    <div class="container">
      <div class="row">
        <div class="card col-sm-4 col-md-4" style="background: url(assets/background2.svg);">
          <div class="card-body" style="font-family: Jost; font-size: 16px;">
            <p class="text-center" style="font-size: 32px; font-family:Bebas Neue; ">CUSTOMER'S <span
                style="color: #E22D5E;">SPEAK</span></p><br>
            <p class="card-text text-center" style="font-family: Jost;">It is a long established fact that a reader will
              be distracted by the
              readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
              more-or-less normal distribution of letters, as opposed to using ‘Content here’.</p><br>
            <img src="/assets/user.svg" class="mx-auto d-block">
            <p class="text-center" style="font-weight: bold;">Customer Name</p>
            <p class="text-center">-Location</p>
            <p class="text-center" style="color:#EEAE66 ;">&ndash; &ndash; &ndash;</p>


          </div>
        </div>
        <div class="card col-sm-4 col-md-4" style="background: url(assets/background1.svg);">
          <div class="card-body" style="font-family: Jost; font-size: 16px;">
            <p class="card-title  text-center" style="color: white;font-size:32px ;font-family: Bebas Neue;">BLOG</p>
            <br>
            <hr style=" border-top: 1px dashed white;">
            <p class="card-text" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.</p>
            <hr style=" border-top: 1px dashed white;">
            <p class="card-text" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.</p>
            <hr style=" border-top: 1px dashed white;">
            <p class="card-text" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.</p>
            <hr style=" border-top: 1px dashed white;">
            <p class="card-text" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.</p>
            <hr style=" border-top: 1px dashed white;">
          </div>
        </div>
        <div class="card col-sm-4 col-md-4" style="background: url(assets/background2.svg);">
          <div class="card-body" style="font-family: Jost; font-size: 16px;">
            <p class="card-title text-center" style="font-weight: regular;font-size: 32px; font-family: Bebas Neue;">
              SOCIAL <span style="color: #E22D5E;font-weight:regular;font-size: 32px;">MEDIA</span></p><br>
            <div class="card" style="padding: 9px;">
              <img src="/assets/cake1.png">
              <p>Best Cake ever. Made my day… #birthdaycake #designer </p>
              <i class="fa fa-instagram" style="padding: 5px; "> &nbsp;<span
                  style="font-family: Jost; font-size: 16px;">User Name</span> </i>

            </div>
            <p class="text-center" style="color:#EEAE66 ;">&ndash; &ndash; &ndash;</p>

          </div>

        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="page-footer font-small special-color-dark pt-1" id="footer" style=" padding-bottom: 20px;">
      <h3 class="text-center  mr-4"
        style="font-weight: regular; margin-top: 74px;font-size: 36px;font-family: Bebas Neue;">Contact us </h3>
      <br>
      <div class="container">
        <div class="row ">
          <div class="col-md-2 col-sm-2">
          </div>
          <div class="col-md-4 col-sm-2">
            <form>
              <input class="form-control form-control-sm  " style="opacity: 100%; height: 50px; font-family: Jost;"
                type="Name" placeholder="Name" aria-label="Search">
            </form>
          </div>
          <div class="col-md-4 col-sm-3">
            <form>
              <input class="form-control form-control-sm  " style="opacity: 100%; height: 50px; font-family: Jost;"
                type="Name" placeholder="Mobile Number/Email" aria-label="Search">
            </form><br>
          </div>
        </div>
        <div class=" col-md-12 text-center mb-3">
          <button class="btn btn- btn-outline-white my-0 " type="button"
            style="background-color: #202020;color: white; border-radius: 25px 25px 25px 25px;font-weight: regular; width: 118px; height: 53px; font-family: Jost;">Submit</button>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $('.carousel').carousel({
    interval: 4000
  })

</script>
