<section>
 
        <div class="jumbotron" style="margin-left: -50px;">
            <h2 style="color: white;position: relative;left: 10.5%;font-weight: regular;font-size:42px ;font-family:Bebas Neue ;">Cakes</h2><br><br><br>
            <ul style="list-style-type: none; width: 1164px; margin: 0 auto;">
                <li class="list">
                    
                    <div class="dropdown">
                        <button href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"style=" background-color:#342766; float: left;font-weight: regular;font-size=16px; padding: 20px;padding:15px;">Occasion</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Step-1</a>
                            <a href="#" class="dropdown-item">Step-2</a>
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="dropdown">
                        <button href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"style=" background-color:#342766; float: left;font-weight: normal;padding: 15px;">Occasion</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Step-1</a>
                            <a href="#" class="dropdown-item">Step-2</a>
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="dropdown">
                        <button href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"style=" background-color:#342766; float: left;font-weight: normal;padding: 15px;">Occasion</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Step-1</a>
                            <a href="#" class="dropdown-item">Step-2</a>
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="dropdown">
                        <button href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"style=" background-color:#342766; float: left;font-weight: normal;padding: 15px;">Occasion</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Step-1</a>
                            <a href="#" class="dropdown-item">step-2</a>
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="dropdown">
                        <button href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"style=" background-color:#342766; float: left;font-weight: normal;padding: 15px;">Occasion</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Step-1</a>
                            <a href="#" class="dropdown-item">Step-2</a>
                        </div>
                    </div>
                </li>
                <li class="list">
                    <div class="dropdown">
                        <button href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"style=" background-color:#342766; float: left;font-weight: normal;padding: 15px;">Occasion</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Step-1</a>
                            <a href="#" class="dropdown-item">Step-2</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <br><br><br><br><br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/now.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                       <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                       opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                        bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">   Add To Cart</button>
                        <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                    </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/ayura.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/cakes4.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/cake3.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/now.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/ayura.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/cakes4.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/cake3.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/now.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/ayura.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/cakes4.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/cake3.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/now.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/ayura.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/cakes4.png">
                    <div class="overlay" style="bottom: 220px;height: 100px;width: 370px;">
                        <br><button class="btn btn-sm btn-outline-white my-0" type="button" style="background: crimson 0% 0% no-repeat padding-box;color: #AAAAAA;
                        opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                         bottom: 20px;height: 40px;padding-left: 40px;padding-right: 40px;">Add To Cart</button>
                         <button class="btn btn-sm btn-outline-white my-0" type="button" style="background: white 0% 0% no-repeat padding-box;color: #020202;
                         opacity: 1;; position: relative;   border-radius: 25px 25px 25px 25px;
                          bottom: 20px;height: 40px;padding-right: 45px;padding-left: 45px;">Buy Now</button>
                     </div>
                    <p>Cake Name (500gms) <strong style="float: right;"> &#x20b9; 342.00 </strong></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="page-footer font-small special-color-dark pt-1" id="footer" style="    padding-bottom: 20px;">
            <h3 class="text-center mt-5 mr-4" style="font-size: 36px;font-weight: regular;font-family:Bebas Neue ;">Contact us </h3><br>
            <div class="container">
                <div class="row ">
                    <div class="col-2">
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <form>
                            <input class="form-control form-control-sm  " type="Name" placeholder="Name"
                                aria-label="Search">
                        </form>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <form>
                            <input class="form-control form-control-sm  " type="Name" placeholder="Mobile"
                                aria-label="Search">
                        </form><br>
                    </div>
                </div>
                <div class=" col-md-12 text-center mb-3">
                    <button class="btn btn- btn-outline-white my-0 " type="button"
                        style="background-color: #202020; font-size: 16px;font-family: Roboto Condensed;font-weight: regular; color: white; border-radius: 25px 25px 25px 25px;">Submit</button>
                </div>
            </div>
        </div>
</section>