 <div >

 
 <footer >
 
  <div class="copyright">
    <div class="container" style="background-size: cover;padding: 20px; font-size: 16px; font-family: Jost;">
        <div class="row">
            <div class="col-md-6">
                <span>@Copyright 2021 Pirajee's All Rights Reserved 2021</span>
            </div>
           
            <div class="col-md-6">
                <div class="copyright-menu">
                    <ul>
                        
                        
                       
                        <li>
                            <a href="#" style="font-size:16px;">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        
        </div>
      
    </div>
  
</div>




</footer>
</div>